body, html {
	margin: 0;
	padding: 0;
}
.logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px;
	padding-bottom: 15px;
}
.wrapCard{
	display: flex;
	flex-direction: column;
	align-items: center;
	// height: calc(100vh - 50px);
	// margin-bottom: 100px;
}
.card{
	display: flex;
	align-items:center;
	flex-direction: column;
	height: auto;
	width: 250px;
	background: white;
	margin-bottom: 25px;
	border: 2px solid #eb5a1e;;
}
.productImg {
	width: 200px;
	height: auto;
}

.items {
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	justify-content: center;
	font-size: 18px;
	height: 30px;
	overflow: hidden
}
.itemsControl {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
	//margin-top: 2px;
}
.itemsControl:hover {
    background: #eb5a1e;
    color: #FFF;
}
.itemsCurrent {
	width: 40px;
	text-align: center;
	margin-top: 3px;
}
.price {
	display: flex;
	flex-direction: row;
	text-align: left;
	margin-top: 8px;
	
}
.priceWeight {
	font-size: 15px;
	font-weight: 600;
	margin: 10px;
}
.priceCurrency {
	font-size: 15px;
	font-weight: 600;
	margin: 10px;
}
.btn {
	margin-top: 10px;
	margin-bottom: 20px;
    color: #eb5a1e;
    border-color: #eb5a1e;
	cursor: pointer;
}
// .btnStop {
// 	margin-top: 10px;
// 	margin-bottom: 20px;
//     color: #f2ede7;
//     border-color: #eb5a1e;
// 	cursor: pointer;
// 	background-color: #eb5a1e;
// }
.btn:active {
    color: #FFF;
    background-color: #eb5a1e;
    border-color: #eb5a1e;
}

.cart {
	position: fixed;
	top: 180px;
	right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 100px;
	background-color: #f2ede7
}
.button {
	height: 20px;
	cursor: pointer;
	color: #eb5a1e;
    border-color: #eb5a1e;
}
.link {
	text-decoration: none;
}
// .button:hover {
//     color: #FFF;
//     background-color: #eb5a1e;
//     border-color: #eb5a1e;
// }
.wrapper_checkout {

}

