.checkout {
	// width: 100%;
    // height: 100vh;
	// display: flex;
	// align-items: flex-end;
    //background-color:red;
    //z-index: 2;
}
.modal {
  overflow: hidden;
  border-radius: 20px;
}
.mainWrap{
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	//background-color: red
	border: 2px solid #eb5a1e;
	border-radius: 16px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	border-bottom: solid #d9d9d9 1px;
	
  
	> p {
	  margin: 0;
	  color: #121212;
	  font-family: 'Bitter';
	  font-size: 24px;
	  font-weight: 600;
	  font-style: normal;
	  font-style: normal;
	  line-height: 28px;
	}
  
	.x {
	  margin-right: 30px;
	  cursor: pointer;
	}
}
.wrapCart{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between; 
	> span {
		margin: 8px;
		font-family: 'Bitter';
		font-size: 18px;
		font-weight: 600;
	}
}
.price{
	margin: 8px;
	padding-left: 26px;
	font-family: 'Bitter';
	font-size: 18px;
	font-weight: 600;
}
.wrapBtn{
	position: absolute;
	bottom: 12px;
	width: 100%;
	display: flex;
	justify-content: center;
	.btn{
		border: '2px solid #eb5a1e';
		border-radius: 8px;
		font-weight: 700;
		
		&:hover {
		  //border: 1px solid #293BAD;
		  color: #eb5a1e
		}
	}
}
.wrapAlert{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	width: 100%;
	height: 100%;
	margin-bottom: 50px;
	> span {
		color: #121212;
		font-family: 'Bitter';
		font-size: 20px;
		font-weight: 600;
		font-style: normal;
		font-style: normal;
		line-height: 28px;
	}
}
.link {
	text-decoration: none;
}