body, html {
	background-color: #F8F9F9;
	height: 100%;
}
h3, h4 {
	font-family: 'Merriweather', serif;
}

.shoppingCart {
	width: 100%;
	height: 30px;
	z-index: 1;
}
.wrapBtnBack {
	width: 100%;
	height: 100%;
	background-color: #F8F9F9;
	z-index: 10;
	.backToMain {
		height: 30px;
		width: 150px;
		background-color: #f2ede7;
		margin: 0;
	
	}
	.btnToShopping {
		margin-left: auto;
		margin-right: auto;
		padding-top: 5px;
		width: 125px;
		height: 30px;
		cursor: pointer;
		color: #eb5a1e;
	}
}


.blockCheckout {
	position: absolute;
	bottom: 60px;
	width: 100%;
}
.btnToCheckout {
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	height: 10px;
	cursor: pointer;
	color: #eb5a1e;
}
.totalPrice{
	width: 100%;
	display: flex;
	justify-content: center;

}
.textTotalPrice {
	color: #eb5a1e
}
.link {
	text-decoration: none;
}
.button {
	position: absolute;
	top: 100px;
	left: 40px;
	cursor: pointer;
	color: #eb5a1e;
}
