.wrapCart{
	display: flex;
	flex-direction: row;
	height: 30px;
	margin: 15px;
	margin-left: 30px;
}
.wrapperItems {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 70%;
	.cartItemWeight {
		color: #6c757d!important;
		font-size: 100%;
		line-height: 1;
		margin-top: 8px;
		margin-right: 20px;
	}
}
.wrapperElems {
	display: flex;
	flex-direction: row;
	justify-content: start;
	width: 30%;
	margin-left: 1%;
}
.items {
	font-family: 'Merriweather', serif;
	background: #f2ede7;
	border-radius: 8px;
	width: 120px;
	display: flex;
	font-size: 18px;
	height: 30px;
	overflow: hidden;
	.cartItemWeight {
    color: #6c757d!important;
    font-size: 100%;
    line-height: 1;
    margin-top: 8px;
	margin-right: 20px;
}
}
.itemsControl {
	width: 40px;
	cursor: pointer;
	transition: 0.2s ease-in;
	text-align: center;
	border: 2px solid #eb5a1e;
	cursor: pointer;
	border-radius: 8px;
}
.itemsControl:hover {
    background: #eb5a1e;
    color: #FFF;
	
}
.itemsCurrent {
	margin-top: 4px;
	width: 40px;
	text-align: center;
}
.priceCart {
	margin-top: 0;
	width: 60px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.priceCurrency {
	font-size: 16px;
	font-weight: 600;
	margin-left: 20px;
	margin-top: 4px;
	margin-right: 20px;
}
.cartItemImg img {
	max-width: 40px;
	height: auto;
}
.cartItemTitle {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 600;
	margin-top: 10px;
	margin-left: 15px;
}

.cross{
	margin-top: 8px;
	margin-right: 3%;
	color: #eb5a1e;
	cursor: pointer;
}

